############################################
# The following list is not tracked by git #
############################################

.env
*.sqlite
__pycache__/
*.pyc
docker-compose*.yml
docker-compose*.yaml
